@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: poppins;
  color: white;
  background-color: #121212;
}
div {
  background-color: inherit; /* Ensures that div inherits body background */
}

.appearance-none {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.from-belibang-black\/70 {
  --tw-gradient-from: rgb(18 18 18 / 0.7) var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(18 18 18 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.to-belibang-black {
  --tw-gradient-to: #121212 var(--tw-gradient-to-position);
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

.bg-belibang-darker-grey {
  --tw-bg-opacity: 1;
  background-color: rgb(30 30 30 / var(--tw-bg-opacity));
}
